.footer {
  padding-top: 40px;

  .footer--network {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
  }

  .footer--info {
    padding: 4rem 4rem 0 4rem;
    width: 100%;
  }

  .footer--item {
    flex: 1;
    max-width: 25%;
  }
}